@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
	font-family: 'Open Sans', sans-serif;
}

.small-red{
	color: red;
	font-size: 12px;
}

.err{
	background-color: red;
	display: none;
}

.wrapper{
	width:1024px;
	margin:0px auto;
	text-align: center;
}

h1{
	background-color: #4AE;
	margin-left: 218px;
}

ul{
	list-style: none;
}

aside{
	float:left;
}

aside ul{
	width: 176px;
	list-style: none;
	text-align: left;
}

.btn{
	width:158px;
	opacity: 1;
	margin-bottom:10px;
	display:inline-block;
	text-align:center;
	border-radius: 4px;
	color:#fff;
	font-size:16px;
	padding:10px;
	text-decoration: none;
}

.btn:hover{
	opacity: 0.5;
}

.btn:active{
	opacity: 0.8;
}

.color-icon{
	cursor:pointer;
	border-radius:15px;
	display:block;
	height: 30px;
	width:30px;
}

.hide{
	display: none;
}

#colors{
	display: none;
	text-align: center;
}

#colors ul{	
	padding:1px;
	display: inline-block;
}

#colors li{	
	margin-bottom:5px;
}

.sides-btn{
	color: #2e3;
	background-color: blue;
	width: 50px;
	cursor: pointer;
}

.blue{
	background-color: #69F;
}

.black{
	background-color: #000;
}

.grey{
	background-color: #666;
}

.pink{
	background-color: #FF33CC;
}

.brown{
	background-color: #666633;
}

.red{
	background-color: #CC0000;
}

.orange{
	background-color: #FF9900;
}

.green{
	background-color: #339900;
}

#canvas{
	border: 1px solid black;
}
